body{
	padding: 0;
	margin: 0;
	background: #6F659C;
	opacity: 0.92;
}

.header{
	background:#6F659C;
	opacity: 0.92;
	padding-top: 474px;
	padding-bottom: 30px;
	min-height: 500px;
    min-width: 1024px;
}



.action{
	background: #4C4375;
	height: 81px;
	width: 619px;
	border: 0;
	border-radius: 20px;
	font-size: 25px;
	font-family: 'Inter';
	font-weight: normal;
	color: white;
	padding-left: 20px;
	margin-bottom: 32px;
}


.login{
	text-align: center;
}

.btn{
	background: #4C4375;
	height: 81px;
	width: 390px;
	border: 0;
	border-radius: 20px;
	font-size: 32px;
	font-family: 'Inter';
	font-weight: normal;
	color: white;
	margin-top: 40px;
	cursor: pointer;
	margin-bottom: 30px;
}

.reg{
	color:white;
	font-size:35px;
	font-family: 'Inter';
	font-weight: normal;
	text-align: center;
}