<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Web-chat</title>
	<link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="logo">

			</div>
			<div class="new">
				<p>Добро пожаловать в "Название"!</p>
			</div>
			<div class="offer">
				<form action="#" class="action">
					<input type="text" class="login" name="login" placeholder="Логин" required><br>
					<input type="text" maxlength="30" class="password" name="password" placeholder="Пароль" required> <br>
					<button type="submit" class="btn" onclick="window.location.href = 'file:///C:/Users/user/Desktop/1курс/практика/web/menu.html';">Войти</button>
				</form>
				<div>
					<a href="file:///C:/Users/user/Desktop/1курс/практика/web/registration.html" class="link">Зарегестрироваться</a>
				</div>
			</div>

		</div>

	</header>

</body>