<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Menu</title>
	<link rel="stylesheet" type="text/css" href="css/menu.css">
</head>
<body>
	<header class="header">
		<div class="login">
			<div class="up">
				<div class="imglogin">
					<p><a href="#"><img src="C:\Users\user\Desktop\1курс\практика\web\img\icons8-пользователь-без-половых-признаков-50 (1).png" alt="Пользователь"></a></p>
				</div>
				<div class="new">
					<p><a href="C:\Users\user\Desktop\1курс\практика\web\add.html"><img src="C:\Users\user\Desktop\1курс\практика\web\img\icons8-сложение-50.png" alt="Добавить собеседника"></a></p>
				</div>
			</div>
			<div class="exit">
				<p><a href="C:\Users\user\Desktop\1курс\практика\web\home.html"><img src="C:\Users\user\Desktop\1курс\практика\web\img\icons8-выход-50.png" alt="Выход"></a></p>
			</div>
		</div>

	</header>
</body>
</html>