<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/smth.css') }}">
<!--        <link rel="stylesheet" href="../../../Desktop/htmcssproj/5page/smth.css">-->
        <title>SHWEBS</title>
    </head>
    <body>
        <div class="container">
        
            <div class="leftSide"> 
                <div class="header">
                    <div class="ImgText">
                    <div class="userimg">
                        <img src="static/img/usericon.png" class="cover">
                    </div>
<!--
                        <div class="exit"><ion-icon name="exit-outline"></ion-icon>
                        </div>
-->
                </div>
            </div>
<!--
                <div class="chatbox">
                    <div
  className={styles.input}
  placeholder="Type a message"
  contentEditable
/>
-->      
                <div class="message frnd_message">
                        <p>Friend's message</p>
                    </div>
                <div class="message my_message">
                        <p>My Message</p>
                    </div>
                <div class="message frnd_message">
                        <p>Friend's message</p>
                    </div>
                <div class="message my_message">
                        <p>My Message</p>
                    </div>
                <div class="message frnd_message">
                        <p>Friend's message</p>
                    </div>
                <div class="message my_message">
                        <p>My Message</p>
                    </div>
                <div class="chatbox_input">
                    <ion-icon name="send-outline"></ion-icon>
                <input type="text" placeholder="Type a message">
            </div>      
            </div>
            <div class="rightSide">
                
                <div class="header">
                    <div class="userimg">
                        <img src="static/img/usericon.png" class="cover">
                    </div>
                    <div class="adduser">
                        <img src="static/img/adduser.png">
                    </div>
                </div>
                <div class="search_chat">
                    <div>
                        <input type="text" placeholder="Search or start new chat!">
                        <ion-icon name="search-outline"></ion-icon>
                    </div>
                </div>
                <div class="chatlist">
                    <div class="block active">
                        <div class="imgbx">
                            <img src="static/img/Andrew.png" class="cover">
                        </div>
                        <div class="details">
                            <div class="listHead">
                                <h3>Andrew</h3>   
                            </div>
                            <div class="message_p">
                                <p>Пожалуйста, займись фронтом.</p>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="imgbx">
                            <img src="static/img/Seva.png" class="cover">
                        </div>
                        <div class="details">
                            <div class="listHead">
                                <h3>Vsevolod</h3>   
                            </div>
                            <div class="message_p">
                                <p>Что с фронтом?</p>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="imgbx">
                            <img src="static/img/Madina.png" class="cover">
                        </div>
                        <div class="details">
                            <div class="listHead">
                                <h3>Мадина</h3>   
                            </div>
                            <div class="message_p">
                                <p>пойдем гулять</p>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="imgbx">
                            <img src="static/img/Katya.png" class="cover">
                        </div>
                        <div class="details">
                            <div class="listHead">
                                <h3>Ekaterina</h3>   
                            </div>
                            <div class="message_p">
                                <p>ахахах</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                
     <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
     <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    </body>
    </html>
    